pmoves/n8n/flows/langextract_orchestrator.json
[
  {
    "name": "PMOVES • LangExtract Document Orchestrator v1",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pmoves/langextract/process",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook_process_document",
        "name": "Webhook: Process Document",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "pmoves-langextract-process",
        "position": [
          -420,
          240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.file_path }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "id": "validate_input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -120,
          240
        ]
      },
      {
        "parameters": {
          "authentication": "none",
          "requestMethod": "POST",
          "url": "http://langextract:8084/process/document",
          "jsonParameters": true,
          "sendBody": true,
          "bodyParametersJson": "={{ JSON.stringify({ file_path: $json.file_path, namespace: $json.namespace || 'pmoves', doc_id: $json.doc_id, output_format: $json.output_format || 'text', metadata: { workflow_id: 'langextract_orchestrator', triggered_by: 'n8n' } }) }}",
          "options": {
            "headerParametersUi": {
              "parameter": [
                {
                  "name": "content-type",
                  "value": "application/json"
                }
              ]
            },
            "timeout": 120000
          }
        },
        "id": "call_langextract",
        "name": "Call LangExtract /process/document",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          200,
          120
        ]
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $json.count }}",
                "operation": "larger",
                "value2": 0
              }
            ]
          }
        },
        "id": "check_extraction_success",
        "name": "Check Extraction Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          460,
          120
        ]
      },
      {
        "parameters": {
          "functionCode": "const result = $json || {};\nconst chunks = result.chunks || [];\nconst errors = result.errors || [];\nconst ingested = result.ingested || 0;\n\nconst summary = {\n  status: 'success',\n  file_path: $('Webhook: Process Document').first().json.file_path,\n  chunks_extracted: chunks.length,\n  chunks_ingested: ingested,\n  chunk_ids: chunks.slice(0, 5).map(c => c.chunk_id),\n  errors: errors.map(e => e.message)\n};\n\nreturn { json: summary };"
        },
        "id": "prepare_success_response",
        "name": "Prepare Success Response",
        "type": "n8n-nodes-base.functionItem",
        "typeVersion": 1,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "functionCode": "const result = $json || {};\nconst errors = result.errors || [];\n\nconst summary = {\n  status: 'error',\n  file_path: $('Webhook: Process Document').first().json.file_path,\n  message: 'No chunks extracted from document',\n  errors: errors.map(e => e.message)\n};\n\nreturn { json: summary };"
        },
        "id": "prepare_error_response",
        "name": "Prepare Error Response",
        "type": "n8n-nodes-base.functionItem",
        "typeVersion": 1,
        "position": [
          720,
          240
        ]
      },
      {
        "parameters": {
          "options": {},
          "responseBody": "={{ JSON.stringify($json) }}"
        },
        "id": "respond_success",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          980,
          0
        ]
      },
      {
        "parameters": {
          "options": {
            "responseCode": "422"
          },
          "responseBody": "={{ JSON.stringify($json) }}"
        },
        "id": "respond_error",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          980,
          240
        ]
      },
      {
        "parameters": {
          "options": {
            "responseCode": "400"
          },
          "responseBody": "{\"status\": \"error\", \"message\": \"file_path is required\"}"
        },
        "id": "respond_invalid_input",
        "name": "Respond Invalid Input",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          200,
          360
        ]
      }
    ],
    "connections": {
      "Webhook: Process Document": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Call LangExtract /process/document",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Invalid Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call LangExtract /process/document": {
        "main": [
          [
            {
              "node": "Check Extraction Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Extraction Success": {
        "main": [
          [
            {
              "node": "Prepare Success Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Success Response": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Error Response": {
        "main": [
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "active": false,
    "meta": {
      "instanceId": "pmoves-demo",
      "description": "Process documents via LangExtract orchestrator pipeline. Accepts file paths and returns extraction results with chunk counts and ingestion status."
    },
    "pinData": null,
    "versionId": "langextract-orch-v1",
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": ["langextract", "orchestrator", "document-processing"]
  }
]
