pmoves/n8n/flows/pmoves_comfy_hub.json
[
  {
    "name": "PMOVES ComfyUI Generation Hub",
    "nodes": [
      {
        "parameters": {
          "path": "pmoves/generate",
          "options": {
            "responseData": "={{ JSON.stringify({ ok: true, job_id: $json.job_id || 'pending', message: 'Generation queued' }) }}"
          },
          "httpMethod": "POST"
        },
        "id": "wh_generate",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "functionCode": "const body = $json;\n\nconst genType = body.type || 'image';\nconst validTypes = ['image', 'video', 'voice', 'wan_animate', 'qwen_edit', 'vibevoice', 'kittentts'];\nif (!validTypes.includes(genType)) {\n  throw new Error(`Invalid generation type: ${genType}. Valid: ${validTypes.join(', ')}`);\n}\n\n// Map aliases to canonical types\nlet workflow = genType;\nif (genType === 'image') workflow = 'qwen_edit';\nif (genType === 'video') workflow = 'wan_animate';\nif (genType === 'voice') workflow = 'vibevoice';\n\nconst now = new Date();\nconst jobId = `gen_${now.getTime()}_${Math.random().toString(36).substr(2, 9)}`;\n\nconst result = {\n  job_id: jobId,\n  type: genType,\n  workflow: workflow,\n  prompt: body.prompt || body.text || '',\n  negative_prompt: body.negative_prompt || '',\n  reference_image: body.reference_image || body.image_url || null,\n  reference_motion: body.reference_motion || body.video_url || null,\n  reference_voice: body.reference_voice || body.voice_url || null,\n  voice: body.voice || 'expr-voice-2-f',\n  text: body.text || body.script || '',\n  namespace: body.namespace || 'pmoves',\n  persona: body.persona || 'PMOVES',\n  auto_approve: body.auto_approve || false,\n  tags: body.tags || [],\n  metadata: body.metadata || {},\n  source: body.source || 'webhook',\n  created_at: now.toISOString()\n};\n\nreturn [{ json: result }];"
        },
        "id": "prepare_job",
        "name": "Prepare Generation Job",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [460, 300]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.workflow }}",
                "value2": "qwen_edit"
              }
            ]
          }
        },
        "id": "is_qwen",
        "name": "Is Qwen Edit?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [720, 100]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.workflow }}",
                "value2": "wan_animate"
              }
            ]
          }
        },
        "id": "is_wan",
        "name": "Is WAN Animate?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [720, 300]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.workflow }}",
                "operation": "contains",
                "value2": "voice"
              }
            ]
          }
        },
        "id": "is_voice",
        "name": "Is Voice?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [720, 500]
      },
      {
        "parameters": {
          "functionCode": "const job = $json;\n\n// Build Qwen Image Edit ComfyUI prompt\nconst comfyPrompt = {\n  client_id: job.job_id,\n  prompt: {\n    '1': {\n      class_type: 'LoadImage',\n      inputs: {\n        image: job.reference_image || 'default.png'\n      }\n    },\n    '2': {\n      class_type: 'QwenImageEdit',\n      inputs: {\n        image: ['1', 0],\n        prompt: job.prompt,\n        negative_prompt: job.negative_prompt\n      }\n    },\n    '3': {\n      class_type: 'PMovesCompletionWebhook',\n      inputs: {\n        image: ['2', 0],\n        title: job.prompt.slice(0, 50),\n        namespace: job.namespace,\n        author: job.persona,\n        tags: job.tags.join(','),\n        auto_approve: job.auto_approve\n      }\n    }\n  }\n};\n\nreturn [{ json: { job: job, comfy_prompt: comfyPrompt } }];"
        },
        "id": "build_qwen",
        "name": "Build Qwen Prompt",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [980, 100]
      },
      {
        "parameters": {
          "functionCode": "const job = $json;\n\n// Build WAN Animate ComfyUI prompt\nconst comfyPrompt = {\n  client_id: job.job_id,\n  prompt: {\n    '1': {\n      class_type: 'LoadImage',\n      inputs: {\n        image: job.reference_image || 'default.png'\n      }\n    },\n    '2': {\n      class_type: 'LoadVideo',\n      inputs: {\n        video: job.reference_motion || 'default.mp4'\n      }\n    },\n    '3': {\n      class_type: 'WANAnimate',\n      inputs: {\n        image: ['1', 0],\n        motion: ['2', 0],\n        prompt: job.prompt,\n        negative_prompt: job.negative_prompt\n      }\n    },\n    '4': {\n      class_type: 'PMovesCompletionWebhook',\n      inputs: {\n        video: ['3', 0],\n        title: job.prompt.slice(0, 50),\n        namespace: job.namespace,\n        author: job.persona,\n        tags: job.tags.join(','),\n        auto_approve: job.auto_approve,\n        workflow: 'wan-animate-2.2'\n      }\n    }\n  }\n};\n\nreturn [{ json: { job: job, comfy_prompt: comfyPrompt } }];"
        },
        "id": "build_wan",
        "name": "Build WAN Prompt",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [980, 300]
      },
      {
        "parameters": {
          "functionCode": "const job = $json;\n\n// Build VibeVoice ComfyUI prompt\nconst comfyPrompt = {\n  client_id: job.job_id,\n  prompt: {\n    '1': {\n      class_type: 'LoadAudio',\n      inputs: {\n        audio: job.reference_voice || null\n      }\n    },\n    '2': {\n      class_type: 'VibeVoiceTTS',\n      inputs: {\n        reference_audio: ['1', 0],\n        text: job.text || job.prompt,\n        voice: job.voice\n      }\n    },\n    '3': {\n      class_type: 'PMovesCompletionWebhook',\n      inputs: {\n        audio: ['2', 0],\n        title: (job.text || job.prompt).slice(0, 50),\n        namespace: job.namespace,\n        author: job.persona,\n        tags: job.tags.join(','),\n        auto_approve: job.auto_approve,\n        workflow: 'vibevoice-tts'\n      }\n    }\n  }\n};\n\nreturn [{ json: { job: job, comfy_prompt: comfyPrompt } }];"
        },
        "id": "build_voice",
        "name": "Build Voice Prompt",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [980, 500]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.COMFYUI_URL || 'http://comfyui:8188' }}/prompt",
          "sendBody": true,
          "body": "={{ JSON.stringify($json.comfy_prompt) }}",
          "options": {
            "timeout": 30000,
            "bodyContentType": "json"
          }
        },
        "id": "submit_comfy",
        "name": "Submit to ComfyUI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [1240, 300]
      },
      {
        "parameters": {
          "functionCode": "const comfyResponse = $json;\nconst job = $node['Prepare Generation Job'].json;\n\nconst result = {\n  job_id: job.job_id,\n  comfy_prompt_id: comfyResponse.prompt_id,\n  status: 'queued',\n  type: job.type,\n  workflow: job.workflow,\n  namespace: job.namespace,\n  persona: job.persona,\n  submitted_at: new Date().toISOString()\n};\n\nreturn [{ json: result }];"
        },
        "id": "track_job",
        "name": "Track Job Status",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [1500, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://agent-zero:8080/events/publish",
          "sendBody": true,
          "body": "={{ JSON.stringify({ subject: 'creative.generation.request.v1', data: $json }) }}",
          "options": {
            "timeout": 10000,
            "bodyContentType": "json"
          }
        },
        "id": "publish_event",
        "name": "Publish Generation Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [1760, 300]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [[{"node": "Prepare Generation Job", "type": "main", "index": 0}]]
      },
      "Prepare Generation Job": {
        "main": [[
          {"node": "Is Qwen Edit?", "type": "main", "index": 0},
          {"node": "Is WAN Animate?", "type": "main", "index": 0},
          {"node": "Is Voice?", "type": "main", "index": 0}
        ]]
      },
      "Is Qwen Edit?": {
        "main": [
          [{"node": "Build Qwen Prompt", "type": "main", "index": 0}],
          []
        ]
      },
      "Is WAN Animate?": {
        "main": [
          [{"node": "Build WAN Prompt", "type": "main", "index": 0}],
          []
        ]
      },
      "Is Voice?": {
        "main": [
          [{"node": "Build Voice Prompt", "type": "main", "index": 0}],
          []
        ]
      },
      "Build Qwen Prompt": {
        "main": [[{"node": "Submit to ComfyUI", "type": "main", "index": 0}]]
      },
      "Build WAN Prompt": {
        "main": [[{"node": "Submit to ComfyUI", "type": "main", "index": 0}]]
      },
      "Build Voice Prompt": {
        "main": [[{"node": "Submit to ComfyUI", "type": "main", "index": 0}]]
      },
      "Submit to ComfyUI": {
        "main": [[{"node": "Track Job Status", "type": "main", "index": 0}]]
      },
      "Track Job Status": {
        "main": [[{"node": "Publish Generation Event", "type": "main", "index": 0}]]
      }
    },
    "settings": {},
    "staticData": null,
    "active": false,
    "meta": {
      "description": "ComfyUI generation hub: routes generation requests to appropriate workflow (Qwen Image Edit, WAN Animate, VibeVoice)"
    },
    "pinData": null,
    "versionId": "comfy-hub-v1",
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": ["pmoves", "comfyui", "generation", "creative"]
  }
]
