pmoves/n8n/flows/pmoves_ingestion_hub.json
[
  {
    "name": "PMOVES Ingestion Hub",
    "nodes": [
      {
        "parameters": {
          "path": "pmoves/ingest",
          "options": {
            "responseData": "{\"ok\":true,\"message\":\"Content queued for processing\"}"
          },
          "httpMethod": "POST"
        },
        "id": "wh_ingest",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "functionCode": "const body = $json;\n\n// Determine content type from MIME or file extension\nconst mimeType = body.mime_type || body.content_type || '';\nconst fileUrl = body.asset_url || body.presigned_get || body.s3_uri || body.url || '';\nconst fileName = body.filename || fileUrl.split('/').pop() || '';\n\nlet contentType = 'unknown';\nlet pipeline = 'default';\n\n// Detect content type\nif (mimeType.startsWith('audio/') || /\\.(mp3|wav|m4a|flac|ogg|aac)$/i.test(fileName)) {\n  contentType = 'audio';\n  pipeline = 'audio_analysis';\n} else if (mimeType.startsWith('video/') || /\\.(mp4|mkv|webm|avi|mov)$/i.test(fileName)) {\n  contentType = 'video';\n  pipeline = 'video_analysis';\n} else if (mimeType.startsWith('image/') || /\\.(jpg|jpeg|png|gif|webp|bmp)$/i.test(fileName)) {\n  contentType = 'image';\n  pipeline = 'image_analysis';\n} else if (mimeType === 'application/pdf' || /\\.pdf$/i.test(fileName)) {\n  contentType = 'document';\n  pipeline = 'document_analysis';\n} else if (body.transcript || body.text) {\n  contentType = 'text';\n  pipeline = 'text_analysis';\n}\n\nconst namespace = body.namespace || 'pmoves';\nconst source = body.source || 'webhook';\nconst now = new Date().toISOString();\n\nconst result = {\n  content_type: contentType,\n  pipeline: pipeline,\n  asset_url: fileUrl,\n  filename: fileName,\n  mime_type: mimeType,\n  namespace: namespace,\n  source: source,\n  metadata: body.metadata || {},\n  auto_analyze: body.auto_analyze !== false,\n  auto_research: body.auto_research || false,\n  auto_publish: body.auto_publish || false,\n  received_at: now,\n  original_payload: body\n};\n\nreturn [{ json: result }];"
        },
        "id": "detect_content",
        "name": "Detect Content Type",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [460, 300]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.pipeline }}",
                "value2": "audio_analysis"
              }
            ]
          }
        },
        "id": "route_audio",
        "name": "Is Audio?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [720, 100]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.pipeline }}",
                "value2": "video_analysis"
              }
            ]
          }
        },
        "id": "route_video",
        "name": "Is Video?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [720, 300]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.pipeline }}",
                "value2": "image_analysis"
              }
            ]
          }
        },
        "id": "route_image",
        "name": "Is Image?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [720, 500]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n:5678/webhook/pmoves/audio-analysis",
          "sendBody": true,
          "body": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 30000,
            "bodyContentType": "json"
          }
        },
        "id": "call_audio",
        "name": "Trigger Audio Pipeline",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [980, 100]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n:5678/webhook/pmoves/video-analysis",
          "sendBody": true,
          "body": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 30000,
            "bodyContentType": "json"
          }
        },
        "id": "call_video",
        "name": "Trigger Video Pipeline",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [980, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n:5678/webhook/pmoves/image-analysis",
          "sendBody": true,
          "body": "={{ JSON.stringify($json) }}",
          "options": {
            "timeout": 30000,
            "bodyContentType": "json"
          }
        },
        "id": "call_image",
        "name": "Trigger Image Pipeline",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [980, 500]
      },
      {
        "parameters": {
          "functionCode": "// Log unhandled content type for monitoring\nconst result = $json;\nresult.status = 'unhandled';\nresult.message = `Content type '${result.content_type}' (pipeline: ${result.pipeline}) not yet supported`;\nreturn [{ json: result }];"
        },
        "id": "handle_other",
        "name": "Log Unhandled",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [980, 700]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [[{"node": "Detect Content Type", "type": "main", "index": 0}]]
      },
      "Detect Content Type": {
        "main": [[
          {"node": "Is Audio?", "type": "main", "index": 0},
          {"node": "Is Video?", "type": "main", "index": 0},
          {"node": "Is Image?", "type": "main", "index": 0}
        ]]
      },
      "Is Audio?": {
        "main": [
          [{"node": "Trigger Audio Pipeline", "type": "main", "index": 0}],
          [{"node": "Is Video?", "type": "main", "index": 0}]
        ]
      },
      "Is Video?": {
        "main": [
          [{"node": "Trigger Video Pipeline", "type": "main", "index": 0}],
          [{"node": "Is Image?", "type": "main", "index": 0}]
        ]
      },
      "Is Image?": {
        "main": [
          [{"node": "Trigger Image Pipeline", "type": "main", "index": 0}],
          [{"node": "Log Unhandled", "type": "main", "index": 0}]
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "active": false,
    "meta": {
      "description": "Central dispatcher for all content ingestion - routes to appropriate analysis pipeline based on content type"
    },
    "pinData": null,
    "versionId": "ingestion-hub-v1",
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": ["pmoves", "ingestion", "routing"]
  }
]
