pmoves/n8n/flows/pmoves_deepresearch_orchestrator.json
[
  {
    "name": "PMOVES DeepResearch Orchestrator",
    "nodes": [
      {
        "parameters": {
          "path": "pmoves/deepresearch",
          "options": {
            "responseData": "{\"ok\":true,\"message\":\"Research request queued\"}"
          },
          "httpMethod": "POST"
        },
        "id": "wh_research",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "functionCode": "const body = $json;\n\nif (!body.query && !body.topic && !body.transcript) {\n  throw new Error('query, topic, or transcript is required');\n}\n\n// Build research query\nlet query = body.query || body.topic || '';\nif (body.transcript && !query) {\n  // Extract key topics from transcript for research\n  query = `Research and summarize key topics from: ${body.transcript.slice(0, 2000)}`;\n}\n\nconst result = {\n  query: query,\n  mode: body.mode || 'openrouter',\n  source: body.source || 'webhook',\n  namespace: body.namespace || 'pmoves',\n  context: body.context || {},\n  metadata: body.metadata || {},\n  notebook_id: body.notebook_id || null,\n  auto_publish: body.auto_publish || false,\n  received_at: new Date().toISOString()\n};\n\nreturn [{ json: result }];"
        },
        "id": "prepare_request",
        "name": "Prepare Research Request",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [460, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://agent-zero:8080/events/publish",
          "sendBody": true,
          "body": "={{ JSON.stringify({ subject: 'research.deepresearch.request.v1', data: { query: $json.query, mode: $json.mode, metadata: { source: $json.source, namespace: $json.namespace, context: $json.context } } }) }}",
          "options": {
            "timeout": 10000,
            "bodyContentType": "json"
          }
        },
        "id": "publish_request",
        "name": "Publish Research Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [720, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://deepresearch:8098/research",
          "sendBody": true,
          "body": "={{ JSON.stringify({ query: $node['Prepare Research Request'].json.query, mode: $node['Prepare Research Request'].json.mode }) }}",
          "options": {
            "timeout": 300000,
            "bodyContentType": "json"
          }
        },
        "id": "call_deepresearch",
        "name": "Call DeepResearch API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [720, 500]
      },
      {
        "parameters": {
          "functionCode": "const researchResult = $json;\nconst original = $node['Prepare Research Request'].json;\n\nconst result = {\n  query: original.query,\n  namespace: original.namespace,\n  source: original.source,\n  research: {\n    summary: researchResult.summary || researchResult.result || '',\n    findings: researchResult.findings || [],\n    sources: researchResult.sources || [],\n    metadata: researchResult.metadata || {}\n  },\n  context: original.context,\n  auto_publish: original.auto_publish,\n  processed_at: new Date().toISOString()\n};\n\nreturn [{ json: result }];"
        },
        "id": "process_result",
        "name": "Process Research Result",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [980, 500]
      },
      {
        "parameters": {
          "functionCode": "const data = $json;\nconst now = new Date().toISOString();\nconst namespace = data.namespace;\nconst querySlug = data.query.slice(0, 50).toLowerCase().replace(/[^a-z0-9]+/g, '-');\n\nconst points = [\n  {\n    id: `research:${querySlug}`,\n    modality: 'text',\n    ref_id: null,\n    proj: 1.0,\n    summary: data.research.summary?.slice(0, 500) || data.query\n  }\n];\n\n// Add source references\nconst sources = data.research.sources || [];\nfor (let i = 0; i < Math.min(5, sources.length); i++) {\n  points.push({\n    id: `source:${querySlug}:${i}`,\n    modality: 'reference',\n    ref_id: sources[i]?.url || sources[i],\n    proj: 0.8 - (i * 0.1),\n    summary: sources[i]?.title || sources[i]?.url || ''\n  });\n}\n\nconst findings = data.research.findings || [];\nconst depth = Math.min(1, findings.length / 10);\nconst breadth = Math.min(1, sources.length / 10);\n\nconst spectrum = [depth, breadth];\n\nconst constellation = {\n  id: `research.${querySlug}`,\n  summary: data.research.summary?.slice(0, 300) || data.query,\n  spectrum: spectrum,\n  points: points,\n  meta: {\n    namespace: namespace,\n    source: data.source,\n    query: data.query,\n    finding_count: findings.length,\n    source_count: sources.length\n  }\n};\n\nconst cgp = {\n  spec: 'chit.cgp.v0.1',\n  summary: `DeepResearch: ${data.query.slice(0, 100)}`,\n  created_at: now,\n  super_nodes: [\n    {\n      id: `research:${namespace}`,\n      label: 'Research',\n      summary: data.research.summary?.slice(0, 200) || '',\n      constellations: [constellation]\n    }\n  ],\n  meta: {\n    source: 'n8n.deepresearch',\n    namespace: namespace,\n    pipeline: 'deepresearch'\n  }\n};\n\nreturn [{ json: { data: data, cgp_envelope: { type: 'geometry.cgp.v1', data: cgp } } }];"
        },
        "id": "build_cgp",
        "name": "Build CGP Envelope",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2,
        "position": [1240, 500]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://hi-rag-gateway-v2:8086/geometry/event",
          "sendBody": true,
          "body": "={{ JSON.stringify($json.cgp_envelope) }}",
          "options": {
            "timeout": 30000,
            "bodyContentType": "json"
          }
        },
        "id": "index_hirag",
        "name": "Index to Hi-RAG",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [1500, 400]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://agent-zero:8080/events/publish",
          "sendBody": true,
          "body": "={{ JSON.stringify({ subject: 'research.deepresearch.result.v1', data: $node['Build CGP Envelope'].json.data }) }}",
          "options": {
            "timeout": 10000,
            "bodyContentType": "json"
          }
        },
        "id": "publish_result",
        "name": "Publish Result Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [1500, 600]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $node['Build CGP Envelope'].json.data.auto_publish }}",
                "value2": true
              }
            ]
          }
        },
        "id": "check_publish",
        "name": "Auto Publish?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [1760, 500]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n:5678/webhook/pmoves/content-generation",
          "sendBody": true,
          "body": "={{ JSON.stringify({ type: 'research_summary', content: $node['Build CGP Envelope'].json.data.research.summary, source: 'deepresearch', metadata: { query: $node['Build CGP Envelope'].json.data.query } }) }}",
          "options": {
            "timeout": 10000,
            "bodyContentType": "json"
          }
        },
        "id": "trigger_generation",
        "name": "Trigger Content Generation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [2020, 400]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [[{"node": "Prepare Research Request", "type": "main", "index": 0}]]
      },
      "Prepare Research Request": {
        "main": [
          [
            {"node": "Publish Research Request", "type": "main", "index": 0},
            {"node": "Call DeepResearch API", "type": "main", "index": 0}
          ]
        ]
      },
      "Call DeepResearch API": {
        "main": [[{"node": "Process Research Result", "type": "main", "index": 0}]]
      },
      "Process Research Result": {
        "main": [[{"node": "Build CGP Envelope", "type": "main", "index": 0}]]
      },
      "Build CGP Envelope": {
        "main": [
          [
            {"node": "Index to Hi-RAG", "type": "main", "index": 0},
            {"node": "Publish Result Event", "type": "main", "index": 0},
            {"node": "Auto Publish?", "type": "main", "index": 0}
          ]
        ]
      },
      "Auto Publish?": {
        "main": [
          [{"node": "Trigger Content Generation", "type": "main", "index": 0}],
          []
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "active": false,
    "meta": {
      "description": "DeepResearch orchestrator: triggers research, indexes results to Hi-RAG, publishes NATS events, optionally triggers content generation"
    },
    "pinData": null,
    "versionId": "deepresearch-v1",
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": ["pmoves", "research", "deepresearch", "knowledge"]
  }
]
